@tailwind base;
@tailwind components;
@tailwind utilities;

.fancy-letter {
  font-family: 'Bonheur Royale', cursive;
  font-size: 10rem;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(189, 188, 188);
  border-radius: 0.5rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(150, 149, 149);
}